---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
import AdminHero from "../components/AdminHero.astro";
---

<Layout title="My Site">
	<div class="min-h-screen bg-[#000000ff] rounded-b-16">
		<NavBar />
		<div class="mx-12">
			<AdminHero />
			<div class="text-3xl text-green-500"><p>Software and Hardware</p><p>Designed Together</p></div>
		</div>
	</div>
</Layout>
