---
import Layout from "../layouts/Layout.astro";
import NavBar from "../components/NavBar.astro";
---

<Layout title="My Site">
	<div class="min-h-screen bg-gray-100">
		<NavBar />
		<main class="relative flex-1">
			<div class="min-h-[calc(100vh-8rem)] rounded-b-3xl bg-stone-100 px-6 pb-24 shadow-sm">
				<p>Hello world</p>
			</div>
		</main>
	</div>
</Layout>
